.cell {
    padding: 10px;
    width: 80px;
    height: 80px;
}

.button {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background-color: white;
    outline: none;
    border: 1rem solid #0C458A;
    cursor: pointer;
}

.hoveredPink {
    background-color: #FBE4FF;
}

.hoveredYellow {
    background-color: #FFFFD1;
}

.hoveredGreen {
    background-color: #DBFFD6;
}

.pink {
    background-color: #E70477;
}

.yellow {
    background-color: #FFF809;
}

.green {
    background-color: green;
}